

.third__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}
.third__item:nth-child(2n) {
  flex-direction: row-reverse;
}
.third__item-left{
  max-width: 486px;
}
.third__item-heading{
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343D;
}
.third__item-title{
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343D;
}
.third__item-text{
  margin-top: 23px;
  margin-bottom: 30px;

}
.third__item--text{
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}
.img__first{
  width: 540px;
  height: 470px;
}
.img__second{
  width: 540px;
  height: 500px;
}
.img__third{
  width: 540px;
  height: 450px;
}
@media only screen and(max-width:450px){
  .third{
    margin-top: -1000px;
  }
  .third__item--heading{
    margin-top: 50px;
  }
  .third__item{
    display: flex;
    flex-wrap: wrap;
    // text-align: center;
    flex-wrap: wrap-reverse;
  }

  .third__item-right{
    text-align: center;
  }
  .img__first{
    width: 340px;
    height: 300px;
  }
  .img__second{
    width: 350px;
    height: 310px;
  }
  .img__third{
    width: 350px;
    height: 290px;
  }
}